{% extends 'base.html' %}

{% block content %}
  <legend>Correo enviado</legend>
  <p>
  	Se ha enviado a su correo instrucciones para cambiar su contrase&#241;a.  Si existe una cuenta con el correo
  	que ingres&#243;, deber&#237;a recibirlo muy pronto.
  </p>
  <p>
  	Si no recibe un correo, por favor verifique que ingres&#243; correctamente el correo.
  </p>
	<a href="{% url 'wakemeup:index' %}" class="btn btn-primary">Inicio</a>
  
{% endblock %}