{% extends 'base.html' %}

{% block title %}&#191;Olvid&#243; su contrase&#241;a?{% endblock %}

{% block content %}
	<legend>&#191;Olvid&#243; su contrase&#241;a?</legend>
	<p>Introduzca su correo a continuaci&#243;n y le enviar&#233;mos las instrucciones para cambiarla.</p>

	<form method="post" novalidate>
	  {% csrf_token %}
	  {% include 'bs4_form.html' with form=form %}
	  <button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>
{% endblock %}