{% extends 'base.html' %}

{% block content %}
  <legend>Contrase&#241;a actualizada</legend>
  <p>
    Su contrase&#241;a ha sido actualizada. Se puede <a href="{% url 'login' %}">iniciar una sesi&#243;n</a> ahora.
  </p>
{% endblock %}