/* Buttons */
.btn-huge {
	padding: 20px 20px;
	font-size: 30px;
	border-radius: 10px;	
}

.btn-xs {
  padding  : .25rem .4rem;
  font-size  : .75rem;
  line-height  : .75;
  border-radius : .2rem;
}

.infopage {
	max-width: 800px;
}

/* Menus */
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 300px;
}

/* https://stackoverflow.com/questions/27979939/adjusting-bootstrap-dropdown-menu-height */
.navbar-brand, .navbar-nav > li > a {
    line-height: 30px;
/*    height: 75px;*/
 /*   padding-top: 0px; */
}

/* ORIGINAL
.navbar-nav li a {
 line-height: 30px;
}
*/

.faicon {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}	

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
