#loginModal{
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.main-section{
	margin: 0 auto;
	margin-top:100px;
	background-color: #fff;
	border-radius: 5px;
	padding: 0px;
}
.user-img{
	margin-top:-50px;
}
.user-img img{
	height: 100px;
	width: 100px;
}
.user-name{
	margin:10px 0px;
}
.user-name h1{
	font-size:30px;
	color:#676363;
}
.user-name button{
	position: absolute;	
	top:-50px;
	right:20px;
	font-size:30px;
}
.form-input button{
	width: 100%;
	margin-bottom: 20px;
}
.link-part{
	border-radius:0px 0px 5px 5px;
	background-color: #ECF0F1;
	padding:15px;
	border-top:1px solid #c2c2c2;
}
.open-modal{
	margin-top:100px !important;
}