{% load static %}

{% for goal in record.goalinfo.currentgoals %}
	{% if record.contractapprovalts and goal.acceptedflag or not record.contractapprovalts %}
		<div>
			<span class="text-nowrap">
				<span>
					<strong>
						Opci&#243;n 
						{% if goal.difficultylevel == "E" %} F&#225;cil
						{% elif goal.difficultylevel == "M" %} Media
						{% elif goal.difficultylevel == "D" %} Dif&#237;cil
						{% endif %}
					</strong>
				</span>
	
				<span style="vertical-align:middle">
					{% if goal.acceptedflag %} 
						<i class="fas fa-check-circle" style="color:#9ACD32;font-size:1.25em"></i>
					{% endif %}
				</span>				
			</span>

			<div>
				<i>{{ goal.goaldescription }}</i><br>
				{% include "wakemeup/contract/include/rewardoptions.html" %}
			</div>
		</div>
		<br>
	{% endif %}
{% endfor %}