{% extends "base.html" %}
{% load static %}
{% load datatransform %}

{% block headimport %}
<style>
	.responsive-iframe-container {
		position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
	}
	 
	.responsive-iframe-container iframe {
		position: absolute; top:0; left: 0; width: 100%; height: 100%;
	}
	
	@media screen and (max-width: 768px) {
	  .text-responsive {
	  font-size: 10px; 
	  }
	  .text-responsive-header {
	      font-size: 16px
		}
	}
	
	@media screen and (min-width: 1000px) {
	  .text-responsive {
		  font-size: 16px
	  }
	  .text-responsive-header {
	      font-size: 22px
		}
	}
	
    a.redStrikeHover {
      color:red;
      text-decoration:line-through;
    }	
</style>
{% endblock %}

<!-- Set page title -->
{% block title %}Calendario{% endblock %}

{% block content %}
	<div class="container"><br>
		{% if calendarid %}
			<div class="row">
				<div class="col">
					<div align="center"><h2>Calendario ({{program.schoolyear|stringformat:"i"}})</h2></div><div style="font-size:6px"><br></div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col-6" style="min-width:250px">
					<div class="text-responsive-header"><b>Fechas tope</b></div>
					<div class="text-responsive" align="left">
						{% now "Y-m-d" as todays_date %}
						{% if events %}
							{% regroup events by grouporder as groups_events %}
							{% for group in groups_events %}
								{% for item in group.list %}
									<span style="white-space: nowrap;{% if todays_date > item.eventdate|parse_date|date:"Y-m-d" %};color:red;text-decoration:line-through{% endif %}"">
											<b><i>{{item.eventdate|parse_date|date:"d/m/Y"}}</b></i>
											<a href="{{item.htmlLink}}" target="_blank" {% if todays_date > item.eventdate|parse_date|date:"Y-m-d" %}class='redStrikeHover'{% endif %}>{{item.summary|truncatechars:40}}</a><br>
									</span							
								{% endfor %}<br><br>
							{% endfor %}
							<div><i>** Es preferible cumplir las tareas antes de las fechas tope</i></div>
							<div><i>** Si no se alcanza las fechas tope para la primera ronda, se pueden pasar a la segunda ronda</i></div>
						{% else %}
							No hay registros.
						{% endif %}
					</div><br>
				</div>
				<div class="col-6" style="min-width:250px">
				    <div class="responsive-iframe-container">
						<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FBogota&amp;src={{ calendarid }}&amp;color=%23B39DDB&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;hl=es_419"
								style="border-width:0" width="800" height="600" frameborder="0" scrolling="no">
						</iframe>
				    </div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col" align="center">No hay calendario.</div>
			</div>
		{% endif %}
    </div>
{% endblock %}