{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block headimport %}
    <link href="{% static 'css/customradio.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Revisar contrato{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1 class="display-4">
			Revisar
		</h1>

		<legend><u>General</u></legend>
		<div class="row">
			<div class="col col-sm-3">ID</div>
			<div class="col col-sm-9">{{ record.contractid }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Actividad</div>
			<div class="col col-sm-9">{{ record.contractname }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Curso</div>
			<div class="col col-sm-9">{{ classinfo.classdisplayname }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Plazo</div>
			<div class="col col-sm-9">{{ record.contractvalidperiod_disp }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Fecha tope para revisar</div>
			<div class="col col-sm-9">{{ record.revisiondeadlinets|date:'d/m/Y' }}</div>
		</div>
		{% if record.contractapprovalts %}
			<div class="row">
				<div class="col col-sm-3">Fecha de aprobaci&#243;n</div>
				<div class="col col-sm-9">{{ record.contractapprovalts|date:'d/m/Y' }}</div>
			</div>
		{% endif %}
		{% if request.user.is_admin or request.user.userid == record.teacheruserid %}
		<div class="row">
			<div class="col col-sm-3">Costo</div>
			<div class="col col-sm-9">${{ contractinfo.contractvalue|intcomma}}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Estatus</div>
			<div class="col col-sm-9">
				{% include "wakemeup/contract/include/contractstatus.html" %}
			</div>
		</div>
		{% endif %}<br>
		
		<legend><u>Metas</u></legend>
		{% for goal in record.goalinfo.currentgoals %}
			<div {% if goal.acceptedflag %} class="bg-light" {% elif record.contractstatus not in "D,P" %} class="text-muted"{% endif %}>
				<span>
					<strong>
						Opci&#243;n 
						{% if goal.difficultylevel == "E" %} F&#225;cil
						{% elif goal.difficultylevel == "M" %} Media
						{% elif goal.difficultylevel == "D" %} Dif&#237;cil
						{% endif %}
					</strong>
				</span>

				{% if goal.acceptedflag %} 
					<span style="vertical-align:middle">
						<i class="fas fa-check-circle fa-lg" style="color:#9ACD32"></i>
					</span>
				{% endif %}
				<br>
				<i>{{ goal.goaldescription }}</i><br>

				{% include "wakemeup/contract/include/rewardoptions.html" %}
			
				<br>
			</div><br>
		{% endfor %}
		
		<legend><u><a id="participants">Participantes</a></u></legend>
		<div class="row">
			<div class="col text-center"><strong>Preferencias de meta</strong></div>
		</div>
		{% if not record.contractapprovalts %}
		<div class="row">
			<div class="col text-center text-danger"><small><i>Seleccione una meta y haga clic en "Aceptar"</i></small></div>
		</div>
		{% endif %}
		<!-- Table header -->
		<div class="row">
			<div class="col"></div>
			<!-- Loop through goal options -->
			{% for goal in record.goalinfo.currentgoals %}
				<div class="col col-2 text-center">
					<small>
						<strong>
							{% if goal.difficultylevel == "E" %} F&#225;cil
							{% elif goal.difficultylevel == "M" %} Media
							{% elif goal.difficultylevel == "D" %} Dif&#237;cil
							{% endif %}
						</strong>
					</small>
				</div>
			{% endfor %}
			<div class="col">
				<small><strong>
					{% if not record.contractevaluationts %}
						Aceptado
					{% else %}
						Resultados
					{% endif %}
				</strong></small>
			</div>
		</div>
		<!-- Loop through parties -->
		{% for party in record.partyuserinfo.currentparties %}
			<form action="" method="post" name="partyForm_{{ party.partyuserid }}">{% csrf_token %}
				<div class="row">
					<!-- Party name -->
					<div class="col form-group" style="line-height:15px">
						<small>
							{% if party.groupinfo %}
								{{ party.groupinfo.groupname }} <strong>({{ party.groupinfo.leaderfirstname|title }})</strong>
							{% else %}
								{{ party.firstname|title }} {{ party.lastname|title }}
							{% endif %}
						</small>
					</div>
						<!-- Loop through goal options -->
						{% for goal in record.goalinfo.currentgoals %}
							<div class="col col-2 text-center">
								<!-- ALREADY VOTED -->
								{% if party.preferredgoalid %}
									{% if party.preferredgoalid == goal.goalid %}
										<!-- NOT APPROVED -->
										{% if not record.contractapprovalts %}
											<label class="buttoncontainer">
												<input type="radio" name="preferredgoalid" checked disabled>
												<span class="checkmark"></span>
											</label>
										<!-- APPROVED -->
										{% else %}
											<span style="vertical-align:middle" class="text-nowrap">
												<i class="fas fa-check-circle" style="color:#9ACD32;font-size:1.25em"></i>
											</span>
										{% endif %}
									{% endif %}
								<!-- NOT VOTED YET -->
								{% elif request.user.userid == party.partyuserid or request.user.userid == party.groupinfo.leaderuserid or request.user.is_superuser %}
									<!-- NOT APPROVED - Show radio button -->
									{% if not record.contractapprovalts %}
										<label class="buttoncontainer">
										  <input type="radio" name="preferredgoalid" value="{{ goal.goalid }}">
										  <span class="checkmark"></span>
										</label>
									{% endif %}
								{% endif %}
							</div>
						{% endfor %}
					<div class="col">
						<!-- EVALUATED - Show results -->
						{% if record.contractevaluationts %}
							{% with hidenotacceptedflag=True %}
							<span style="vertical-align:middle" class="text-nowrap">
								{% include "wakemeup/contract/include/goalevaluation.html" %}
							</span>
							{% endwith %}
						<!-- NOT EVALUATED -->
						{% else %}
							<small><i>
								<!-- NOT APPROVED - GOAL NOT SELECTED -->
								{% if not party.preferredgoalid and not record.contractapprovalts %}
									{% if request.user.userid == party.partyuserid or request.user.userid == party.groupinfo.leaderuserid or request.user.is_admin %}
										<input type="button" class="btn btn-xs btn-primary" name="submit_acceptcontract" id="submit_{{party.partyuserid}}" value="Aceptar" disabled/>
									{% else %}
									N/A
									{% endif %}
								<!-- NOT APPROVED - GOAL SELECTED -->
								{% else %}
									{{ party.partyapprovalts|default_if_none:"N/A" }}
								{% endif %}
							</i></small>
						{% endif %}
					</div>
				</div>
				<input type="hidden" name="contractid" value="{{ record.contractid }}" />
				<input type="hidden" name="partyuserid" value="{{ party.partyuserid }}" />
			</form>
		{% endfor %}

		<!-- Legend for evaluation icons -->		
		{% if record.contractevaluationts %}
			<div style="line-height:15px">
				<small><small><i>
					<i class="fas fa-check-circle" style="color:#9ACD32"></i> = aceptado&nbsp;&nbsp; 
					<i class="fas fa-check-circle" style="color:gold"></i> = logrado<br>
					<i class="fas fa-star" style="color:gold"></i> = alto desempe&#241;o&nbsp;&nbsp; 
					<i class="fas fa-trophy" style="color:gold"></i> = mejor desempe&#241;o<br>
				</small></small>
			</div>
		{% endif %}
		<br>
		
		{% if record.revisionapprovalts %}
			<legend><u>Modificaciones</u></legend>
			<div class="row">
				<div class="col col-sm-3">Fecha</div>
				<div class="col col-sm-9">{{ record.revisionapprovalts|date}}</div>
			</div>
			<div class="row">
				<div class="col col-sm-3">Descripci&#243;n</div>
				<div class="col col-sm-9">{{ record.revisiondescription }}</div>
			</div>
		{% endif %}

		<!-- MANAGE CONTRACT BUTTONS -->
		{% if request.user.is_admin or request.user.usertype == "TR" and request.user.userid == record.teacheruserid %}
			<div class="d-flex justify-content-center">{% include 'wakemeup/admin/fields/contract_buttons.html' %}</div><br>
		{% endif %}
	</div>
{% endblock %}

{% block bodyimport %}

	<!-- Accept Contract Modal -->
	<script src="{% static 'wakemeup/js/contract/acceptcontractmodal.js' %}"></script>
	<script src="{% static 'wakemeup/js/contract/contractmanagebuttons.js' %}"></script>
	
	<script>
		
		// MODAL - Hide
		$('#acceptContractModal').on('hidden.bs.modal', function (e) {
			document.getElementById("acceptContractForm").reset(); // Reset form fields
		})	
	
		$(document).ready(function(){
			// Edit Contract - Enable "Accept Contract" button
			$('input[type=radio][name=preferredgoalid]').change(function() {
				var partyuserid = $(this.form).find('input[name=partyuserid]').val()
				var submitbutton = document.getElementById("submit_" + partyuserid) // Determine which submit button to enable
				submitbutton.disabled = false // Enable submit
			});

			// MODAL - Show
		    $('[name=submit_acceptcontract]').click(function() {
				var partyuserid = $(this.form).find('input[name=partyuserid]').val()
				var contractid = $(this.form).find('input[name=contractid]').val()
				var preferredgoalid = $(this.form).find('input[name=preferredgoalid]:checked').val()

				// Populate and show modal
	            $("#mymodaldiv").html(""); // Clear modal div of any previous contents
				update_acceptcontractform("new", partyuserid, contractid, preferredgoalid) // Update modal with new form
				$('#acceptContractModal').modal('show') 
		    });
		});
	</script>
{% endblock %}