{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Revisar metas de contrato{% endblock %}

{% block content %}
	<div class="container-fluid">

		<span class="h1 align-middle display-4">Metas</span>&nbsp;
	
		<form method="post" id="goalsForm" novalidate 
			data-rewards-url="{% url 'wakemeup:ajax_load_rewards' %}" 
		>
			{% crispy form %}
		</form>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="addRewardModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
			<form method="post" id="addRewardForm" novalidate name="addRewardForm"
				data-addreward-url="{% url 'wakemeup:ajax_add_reward' %}" 
				>
				<div id="mymodaldiv"></div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block bodyimport %}
	<!--  Include budget and modal javascript -->
	<script src="{% static 'wakemeup/js/contract/contractbudget.js' %}"></script>
	<script src="{% static 'wakemeup/js/contract/updatebudgetdisplay.js' %}"></script>
	<script src="{% static 'wakemeup/js/contract/addrewardmodal.js' %}"></script>
	<script src="{% static 'wakemeup/js/togglebutton.js' %}"></script>
	
	<script>
		// Create button info
		var adminbuttoninfo = [
			{'name':'submit_next','type':'button','displayvalue_initial':'Siguiente','displayvalue_submit':'Enviando...'},
			{'name':'submit_previous','type':'button','displayvalue_initial':'Previo'},
			{'name':'submit_cancel','type':'link'}
		]
	
		// Show modal: get new form
		$("#addRewardModal").on('show.bs.modal', function(e) {
			update_rewardform("new")
		})
	
		// Hide modal: clear old form and update drop-downs
		$('#addRewardModal').on('hidden.bs.modal', function (e) {
			document.getElementById("addRewardForm").reset();
			update_all_rewards(); // Update reward drop-downs
		})	
	
		// Submit modal form: add new reward
		$("#addRewardForm").submit(function(e) {
			update_rewardform()
			return false // Ignore default submit behavior
		});

    	// SUBMIT: Disable buttons
    	$("#submit_next").click(function(event){
    		
    		// Disable buttons
    		toggleButtonTimeout(adminbuttoninfo, 'disable')
    		
    		// Re-enable buttons (if taking too long)
    		toggleButtonTimeout(adminbuttoninfo, 'enable')
    	})
		
		$(document).ready(function(){ // Wait until HTML has loaded (doesn't include images)
			// Initial load / update of drop-down menus
			update_all_rewards();
			update_budget_display();

			// Max num rewards listeners
		    $('#id_e_maxnumrewards,#id_m_maxnumrewards,#id_d_maxnumrewards').on('keyup change', function(e) {
		    	update_budget(); // Set initial budget
		    });

			// Reward change listener
		    $('#id_e_rewardinfo,#id_m_rewardinfo,#id_d_rewardinfo').change(function() {
		    	update_budget(); // Update budget

				// Open "Add reward" modal if "add" button is clicked
		        var optionvalue = $(this).val();
		        if(optionvalue.includes("-1")){
		        	$('#addRewardModal').modal("show");
		        }
		    });
		});
	</script>
{% endblock %}