{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}Enviar contrato{% endblock %}

{% block content %}
	<div class="container-fluid">
		<span class="h1 align-middle display-4">Revisar</span>&nbsp;
	
		<legend><u>General</u></legend>
		<div class="row">
			<div class="col col-sm-3">ID</div>
			<div class="col col-sm-9">{{ record.contractid }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Actividad</div>
			<div class="col col-sm-9">{{ record.contractname }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Curso</div>
			<div class="col col-sm-9">{{ classinfo.classdisplayname }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Plazo</div>
			<div class="col col-sm-9">{{ record.contractvalidperiod_disp }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Fecha tope para revisar</div>
			<div class="col col-sm-9">{{ record.revisiondeadlinets|date:'d/m/Y' }}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Estatus</div>
			<div class="col col-sm-9">
				{% include "wakemeup/contract/include/contractstatus.html" %}
			</div>
		</div>
		<br>
		
		<legend><u>Metas</u></legend>
		{% for goal in record.goalinfo.currentgoals %}
			<strong>Opci&#243;n 
			{% if goal.difficultylevel == "E" %} F&#225;cil
			{% elif goal.difficultylevel == "M" %} Media
			{% elif goal.difficultylevel == "D" %} Dif&#237;cil
			{% endif %}</strong><br>
			<i>{{ goal.goaldescription }}</i><br>

			{% include "wakemeup/contract/include/rewardoptions.html" %}

			<br><br>
		{% endfor %}

		<legend><u>Participantes</u></legend>
		{% for party in record.partyuserinfo.currentparties %}

		<div class="row">
			<div class="col col-sm-3">
				{% if party.groupinfo %}
					{{ party.groupinfo.groupname }} <strong>({{ party.groupinfo.leaderfirstname|title }})</strong>
				{% else %}
					{{ party.firstname|title }} {{ party.lastname|title }}
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<br>

		<legend><u>Presupuesto</u></legend>
		<div class="row">
			<div class="col col-sm-3">Costo</div>
			<div class="col col-sm-9">${{ contractinfo.contractvalue|intcomma}}</div>
		</div>
		<div class="row">
			<div class="col col-sm-3">Saldo</div>
			<div class="col col-sm-9">${{ teacherbudgetinfo.availablebudget|intcomma}}</div>
		</div><br>
		
		{% crispy form %}
	</div>
{% endblock %}

{% block bodyimport %}
	<script>
		// Helper function to check for empty input
		function is_empty(myval) {
			var myval = myval.replace(/ /g,'')
			return (myval.length == 0)
		}
	
		// CONFIRM: Cancel
		$(".discard_confirm").click(function(event) {
			if(!confirm('\u00BFEst\u00E1 seguro que desee descartar los cambios a este contrato?')) {
				event.preventDefault();
				return false;
			} else {
				return true;
			}
		});

		// CONFIRM: Modify
		$(".modify_confirm").click(function(event) {
			var revisionrevoteflag = document.getElementById('id_revisionrevoteflag').checked
			bootbox_confirm('contract_submit_form',
				'Se puede modificar este contrato s&#243;lo una vez.&nbsp;&nbsp;' + 
				'Al enviar sus cambios, no se puede volver a modificar el contrato.<br><br>' + 
				(revisionrevoteflag ? 
						'<b>Importante</b><br><i>Eligi&#243 una nueva votaci&#243n por parte de los integrantes.' + 
						'&nbsp;&nbsp;Tendr&#225n que escoger sus preferencias de meta de nuevo.</i><br><br>' 
						: ''
				) + 
				'&#191;Desee continuar?',
				1000
			)
		});
	
		// CONFIRM: Send
		$(".send_confirm").click(function(event) {
			bootbox_confirm('contract_submit_form',
				'Al enviar este contrato, se notificar&#225;n a los integrantes.&nbsp;&nbsp;' + 
				'Una vez aceptado por un integrante, no podr&#225; editar el contrato.' + 
				'<br><br>&#191;Desee continuar?',
				1000
			)
		});

		// Disable submit until revision description is entered
		$(document).ready(function(){
			var revisiondescriptionfield = document.getElementById('id_revisiondescription')
			var submitbutton = document.getElementById("submit_next");
				
			if(revisiondescriptionfield) {
				submitbutton.disabled = true;
				
				$(revisiondescriptionfield).keyup(function() {
					if(is_empty($(this).val())) {
						submitbutton.disabled = true;
					} else {
						submitbutton.disabled = false;
					}
				})
			}
		});
	</script>
{% endblock %}