{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block headimport %}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />	
{% endblock %}

{% block title %}Editar contrato{% endblock %}

{% block bodyimport %}
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script src="{% static 'wakemeup/js/contract/updatebudgetdisplay.js' %}"></script>
	<script src="{% static 'wakemeup/js/togglebutton.js' %}"></script>
	<script>

		var contractId = $("#id_contractid").val();
		var dateFormat = "DD/MM/YYYY";
    
		// Create button info
		var adminbuttoninfo = [
			{'name':'submit_next','type':'button','displayvalue_initial':'Siguiente','displayvalue_submit':'Enviando...'},
			{'name':'submit_cancel','type':'link'}
		]
		
		// HELPER FUNCTION: Date difference
	    function dateDiff(startdate, enddate) {
	    	var mydiff = enddate.diff(startdate, 'days')
	    	
	    	return isNaN(mydiff) ? undefined : mydiff
	    }

		// DATEPICKER: Pop-up for date fields
		$(function() {
		  moment.locale('es');
		  $('.dateinputfield').daterangepicker({
			autoUpdateInput: false,
		    singleDatePicker: true,
			  minDate: '01/08/2018',
			  maxDate: '01/12/2020',
		    drops: 'up',
		    opens: 'center'
		  });
		
		  // DATEPICKER: Apply handler
		  $('.dateinputfield').on('apply.daterangepicker', function(ev, picker) {
		      $(this).val(picker.startDate.format('DD/MM/YYYY'));
		      update_revisiondeadline_info();
		  });
		});    	
    	
		// VALIDATION: Verify all form fields are filled
		function validateForm() {
			var isValid = true;
			$('#id_contractname, #id_teacheruserid, #id_classid, #id_partyuserinfo, #id_contractvalidstartdate, #id_contractvalidenddate, #id_revisiondeadlinets').each(function() {
				if ( $(this).val() == '' )
				isValid = false;
			});
			return isValid;
		}		
	    	
    	// VALIDATION: Submit button handler
    	$("#submit_next").click(function(event){
    		
    		// Prevent form submission
    		event.preventDefault();
    		
    		// Validate form
    		if(!validateForm()) {
    			alert('Por favor rellene todos los campos obligatorios.')
    			return false
    		}
    		
    		// Re-enable (potentially) disabled fields
    		$("#id_partyuserinfo").prop('disabled',false)
    		
    		// Disable buttons
    		toggleButtonTimeout(adminbuttoninfo, 'disable')

    		// Submit form
    		$("#contractForm").submit();
    		
    		// Re-enable buttons (if taking too long)
    		toggleButtonTimeout(adminbuttoninfo, 'enable')
    	})

		// REVISION DEADLINE: Update max revision deadline display
	    function update_revisiondeadline_info() {

			var revisiondeadlinets = $("#id_revisiondeadlinets")
			var contractvalidstartdate = $("#id_contractvalidstartdate")
			var contractvalidenddate = $("#id_contractvalidenddate")
			
			var revisionresetflag = true
			
			// Convert dates to "moment" objects
			var startdate = moment(contractvalidstartdate.val(), dateFormat)
			var enddate = moment(contractvalidenddate.val(), dateFormat)

			var displaymsg = ""
			
			// Calculate max revision deadline
			var datediff = dateDiff(startdate, enddate)
			
			// Determine max revision date (if two valid dates have been provided)
			if(datediff >= 0) {
				var minstartdate = startdate.format(dateFormat)
				
				var maxdatediff = Math.floor(datediff * .85)
				var maxrevisiondeadlinets = startdate.add(maxdatediff, 'day')
				
				// Set new display message
		        displaymsg = '<small><i><strong>No m&#225;s tardar ' + maxrevisiondeadlinets.format(dateFormat) + '<strong></i></small>';

		        // Update revision deadline datepicker calendar
				revisiondeadlinets.daterangepicker({
					autoUpdateInput: false,
				    singleDatePicker: true,
					  minDate: minstartdate,
					  maxDate: maxrevisiondeadlinets.format(dateFormat),
				    drops: 'up',
				    opens: 'center'
				})
				
				// Re-create apply handler
				$('#id_revisiondeadlinets').on('apply.daterangepicker', function(ev, picker) {
				    $(this).val(picker.startDate.format('DD/MM/YYYY'));
				});

		        // Enable revisiondeadlinets field
		        revisionresetflag = false
		        
		        // Check to make sure any previous revisiondeadlinets value is still valid with new timeframe
		        if(revisiondeadlinets.val()) {
		        	var datediff = dateDiff(moment(revisiondeadlinets.val(),dateFormat), maxrevisiondeadlinets)

		        	if(dateDiff && datediff < 0) {
		        		revisionresetflag = true
		        	}
		        }
			}

			// Toggle revisiondeadlinets field
			if(revisionresetflag) {
				revisiondeadlinets.val('')
			}
			
			//Update display and submit button
			$("#revisiondeadlinets_info").html(displaymsg);
	    }
	    
	    // REVISION DEADLINE: Start/End date listeners
	    $("#id_contractvalidstartdate,#id_contractvalidenddate").on('keyup change', function(e) {
	    	update_revisiondeadline_info()
	    })
	    
		// REWARDS: Max num rewards listeners
	    $('#id_e_maxnumrewards,#id_m_maxnumrewards,#id_d_maxnumrewards').on('keyup change', function(e) {
	    	update_budget(); // Set initial budget
	    });	    
	    
    	// BUDGET: Update function
		function update_budget() {
			var url = $("#contractForm").attr("data-contractinfo-url");
		    
			$.ajax({
				url: url,
				data: {
					'infotype': 'hypotheticalcontractvalue',
					'contractid': contractId,
					'numparticipants': get_num_participants()
				},
				success: function (data) {
					totalBudget = data
					update_budget_display(data)
				}
			})
		}	

		// BUDGET: Participant drop-down
		$("#id_partyuserinfo").change(function () {
			update_budget()
		});
		
		// BUDGET: Get number of participants
		function get_num_participants() {
			var numPart = $('#id_partyuserinfo option:selected').length;
			return numPart;
		}
	
		// DROP-DOWNS: Dependent drop-downs (Teacher / Class / Student)
	    $("#id_teacheruserid").change(function () {
		    update_classes($(this))
	      });

	    $("#id_classid").change(function () {
		    update_students($(this))
	      });

	    // DROP-DOWNS: Update Teachers
	    function update_teachers() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-teachers-url");
	        
	        $.ajax({                       			// initialize AJAX request
	          url: url,                    			// set the url of the request
	          data: {
	            'contractid': contractId
	          },
	          success: function (data) {   			// "data" is the return of the "get teachers" view call
	            $("#id_teacheruserid").html(data);  // replace the contents of the "teacheruserid" field with the teacher list
	            update_classes();
	          }
	        })
	    };

		// DROP-DOWNS: Update classes
	    function update_classes() {
	    	// Get values from the form
	        var url = $("#contractForm").attr("data-classes-url");
	        var teacherUserId = $("#id_teacheruserid").val();

	        $.ajax({                       		// initialize an AJAX request
	          url: url,                    		// set the url of the request
	          data: {
	            'teacheruserid': teacherUserId, // add the teacheruserid to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   		// "data" is the return of the "get classes" view call
	            $("#id_classid").html(data);	// replace the contents of the "classid" field with the class list
		        update_students();
	          }
	        })
	    };

    	// DROP-DOWNS: Update students
	    function update_students() {
	    	// Get values from the form
	    	var url = $("#contractForm").attr("data-students-url");
	        var classId = $("#id_classid").val();
	        
	        $.ajax({                       				// initialize an AJAX request
	          url: url,                    				// set the url of the request
	          data: {
	            'classid': classId,						// add variables to the GET parameters
	            'contractid': contractId
	          },
	          success: function (data) {   				// "data" is the return of the "get students" view call
	            $("#id_partyuserinfo").html(data);  	// replace the contents of the "partyuserinfo" field with the data
				update_budget();
	          }
	        })
	    };

	    // PARTY USERS: Edit button listener
	    $("#enable_partyuserinfoedit").on('click', function(event) {
	    	// Ignore default action
	    	event.preventDefault()
	    	$("#id_partyuserinfo").prop('disabled',false)
	    })
	    
	    // DOCUMENT READY: Initialize
		$(document).ready(function(){
			update_teachers();
	    	update_revisiondeadline_info()
		});
	</script>
{% endblock %}