<!-- Pulled from crispyforms bootstrap3 templates -->
{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group">
        {% if label_class %}
            <div class="controls {% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">
        {% endif %}
    {% endif %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

		<div class="text-center">
	        {% if field|is_checkboxselectmultiple %}
	            {% include 'bootstrap3/layout/checkboxselectmultiple.html' %}
	        {% endif %}
	
	        {% if field|is_radioselect %}
	            {% include 'bootstrap3/layout/radioselect.html' %}
	        {% endif %}
	        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
	            {% if field|is_checkbox and form_show_labels %}
	                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
	                    {% crispy_field field %}
	                    {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
	                </label>
	                {% include 'bootstrap3/layout/help_text_and_errors.html' %}
	            {% else %}
	                <div class="controls {{ field_class }}">
	                    {% crispy_field field %}
	                    {% include 'bootstrap3/layout/help_text_and_errors.html' %}
	                </div>
	            {% endif %}
	        {% endif %}
		</div>

    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        {% if label_class %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endif %}