<!-- Pulled from crispyforms bootstrap3 templates -->
{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form|crispy }}
    </div>
<div class="table-responsive">
	{% with field_center_list="achievedflag highperformerflag topperformerflag rewarddeliveredflag experiencerating" %}
	    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-condensed">
	        <thead>
	            {% if formset.readonly and not formset.queryset.exists %}
	            {% else %}
	                <tr>
	                    {% for field in formset.forms.0 %}
	                        {% if field.label and not field.is_hidden %}
	                            <th for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %} {% if field.name in field_center_list %}text-center{% endif %}">
	                                {{ field.label|safe}}
	                                {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
	                            </th>
	                        {% endif %}
	                    {% endfor %}
	                </tr>
	            {% endif %}
	        </thead>
	
	        <tbody>
	            {% for form in formset %}
	                {% if form_show_errors and not form.is_extra %}
	                    {% include "bootstrap3/errors.html" %}
	                {% endif %}
	
	                <tr>
	                    {% for field in form %}
	                    	{% if field.name == "partyuserfullname" %}
	                    		<div class="form-group">
	                    			<td style="vertical-align:middle" nowrap>
	                    				<div class="controls">{{ field.value }}</div>
	                   				</td>
	               				</div>
	                   		{% elif field.name == "experiencerating" %}
	                   			<div class="form-group text-center">
	                   				<td nowrap width="150px">
	                   					<div class="controls">
											<fieldset class="rating">
												{% with '5 4 3 2 1' as my_array %}
												{% for myrating in my_array.split %}
												    <input 
												    	type="radio" 
												    	id="id_form-{{forloop.parentloop.parentloop.counter0}}-star{{myrating}}" 
												    	name="form-{{forloop.parentloop.parentloop.counter0}}-experiencerating" 
												    	value="{{myrating}}" 
												    	{% if field.value == myrating|add:"0" %}checked{% endif %}
											    	/>
											    	<label 
											    		class = "full" 
											    		for="id_form-{{forloop.parentloop.parentloop.counter0}}-star{{myrating}}" 
											    		title="{{myrating}} estrellas">
										    		</label>
												{% endfor %}
												{% endwith %}
											</fieldset>
										</div>
									</td>
								</div>
	                   		{% else %}
		                        {% include 'wakemeup/contract/evaluate_contract_field.html' with tag="td" form_show_labels=False %}
	                        {% endif %}
	                    {% endfor %}
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	{% endwith %}
</div>
    {% include "bootstrap3/inputs.html" %}

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
