{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Admin{% endblock %}

{% block content %}
	<div class="container-fluid">
		<br>
		<form method="POST" enctype="multipart/form-data" novalidate>
		    {% csrf_token %}
			{% crispy form %}
		</form>
	</div>
{% endblock %}