{% if teachers %}
	{% if not teacheruserid %}
		<option value=""> -- Escoger docente -- </option>
	{% endif %}
	{% for teacher in teachers %}
		<option 
			value="{{ teacher.teacheruserid }}"
			{% if teacher.teacheruserid == teacheruserid %} selected="selected"{% endif %} 
		>
			{{ teacher.firstname|title }} {{ teacher.lastname|title }}
		</option>
	{% endfor %}
{% else %}
	<option value="" disabled>No hay registros.</option>
{% endif %}