<!-- Base template -->
{% load static %}
<!doctype html>
<html lang="en">
    <head>

        <!-- Meta info -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--  IE support  -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">

		<!-- Allow web app on Chrome -->
        <meta name="mobile-web-app-capable" content="yes">

		<!-- Import Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Backup local file -->
		<script>
		       window.jQuery || document.write('<script src="{% static 'js/jquery-3.5.1.min.js' %}"><\/script>');
		</script>

        <!-- Import Bootstrap core files  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

		<!-- Import confirmation / alert box JS files -->
		<script src="{% static 'js/bootbox.min.js' %}"></script>
		<script src="{% static 'js/bootbox_common.js' %}"></script>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	    <!-- Custom CSS -->
	    <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <!-- Page-specific imports -->
        {% block headimport %}{% endblock %}

        <!-- Workaround to allow styling of unknown HTML elements in IE browsers older than IE9 (must be after CSS imports) -->
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js' %}"></script>
        <![endif]-->

        <!-- Page title -->
        <title class="title">
            DCP - {% block title %}Inicio{% endblock %}
        </title>    

		<!-- realfavicongenerator.net -->
        <!-- Image to use for favorite/bookmark icon -->
{% comment %}        <link rel="icon" sizes="192x192" href="{% static 'img/logo/android-icon-96x96.png' %}" />{% endcomment %}
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo/favicon/apple-touch-icon.png?v=5ABpOj04rk' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon/favicon-32x32.png?v=5ABpOj04rk' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon/favicon-16x16.png?v=5ABpOj04rk' %}">
		<link rel="manifest" href="{% static 'img/logo/favicon/site.webmanifest?v=5ABpOj04rk' %}">
		<link rel="mask-icon" href="{% static 'img/logo/favicon/safari-pinned-tab.svg?v=5ABpOj04rk' %}" color="#5bbad5">
		<link rel="shortcut icon" href="/favicon.ico?v=5ABpOj04rk">
		<meta name="apple-mobile-web-app-title" content="DCP">
		<meta name="application-name" content="DCP">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
    </head>

    {% block body %}
        <body>
            {% include "header.html" %}
            {% include "navbar.html" %}
            <main>
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% include "footer.html" %}

			<!-- Navbar import -->
			<script src="{% static 'js/navinbox.js' %}"></script>
			
	        <!-- Page-specific imports -->
	        {% block bodyimport %}{% endblock %}
        </body>
    {% endblock %}
</html>