<form id="{{formname}}" method="post" action="{{actionurl}}">{% csrf_token %}
	{% for key, value in fields.items %}
		<input type="hidden" name="{{key}}" value="{{value}}"/>
	{% endfor %}
	
	<a {% if displaytype == "navbar" %}class="dropdown-item {% if urlname == formurlname %} active {% endif %}" {% endif %} onclick="document.forms['{{formname}}'].submit();" style="cursor: pointer;">{{linktext}}</a>
</form>
