{% load static %}
{% load navigation %}
{% with url_name=request.resolver_match.url_name %}

<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top">

	<!-- LOGO -->
	<a class="navbar-brand" href="{% url 'wakemeup:index' %}" title="Inicio">
<!--		<i class="fas fa-home faicon" style="color:grey"></i>-->
	<img src="{% static 'img/logo/home_icon.png' %}" style="width:55px">
	</a>
	
	<!-- NAVBAR TOGGLE ICON -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!--  COLLAPSIBLE ITEMS -->		
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="nav navbar-nav mr-auto">
			{% if user.is_authenticated %}
			
				<!-- CONTRACTS -->
				{% if not auth.navbar.contracts.disable and auth.objects.contract.accesslevel >= 4 %}
					<li class="nav-item dropdown">				
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Contratos</a>
						<div class="dropdown-menu">
							{% if auth.objects.contract.accesslevel >= 10 %}
								<a class="dropdown-item {% if url_name == 'create_contract' %} active {% endif %}" href="{% url 'wakemeup:create_contract' contractid='new' %}">Crear contrato</a>
							{% endif %}
							<a class="dropdown-item {% if url_name == 'list_contract' %} active {% endif %}" href="{% url 'wakemeup:list_contract' %}">Mis contratos</a>
						</div>
					</li>
				{% endif %}

				<!-- CALENDAR -->
				{% if not auth.navbar.calendar.disable and auth.objects.calendar.accesslevel >= 4 %}
				<li class="nav-item dropdown">
					<a class="nav-link" href="{% url 'wakemeup:get_calendar' %}">Calendario</a>
				</li>
				{% endif %}
				
				<!-- REWARDS -->
				{% if not auth.navbar.reward.disable and auth.objects.reward.accesslevel >= 1 %}
				<li class="nav-item dropdown">
					<a class="nav-link" href="{% url 'wakemeup:list_object_general' objecttype='reward' %}">Incentivos</a>
				</li>
				{% endif %}
				
				<!-- FILES -->
				{% if not auth.navbar.files.disable and auth.objects.file.accesslevel >= 4 %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Archivos</a>
					<div class="dropdown-menu">
						{% if not auth.navbar.files.general.disable %}
	{% comment %}						<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'contract' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=contract">Contratos</a>{% endcomment %}
							<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'document' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=document">Documentos</a>
							<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'interview' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=interview">Entrevistas</a>
							<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'form' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=form">Formularios</a>
							<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'report' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=report">Informes</a>
							<a class="dropdown-item {% if url_name == 'list_file' and request.GET.filetype == 'video' %} active {% endif %}" href="{% url 'wakemeup:list_file' %}?filetype=video">Videos</a>
							<div class="dropdown-divider"></div>
						{% endif %}
						{% if not auth.navbar.files.explorer.disable %}
							<a class="dropdown-item {% if url_name == 'list_file' and not request.GET.filetype %} active {% endif %}" href="{% url 'wakemeup:list_file' %}">Explorador de archivos</a>
						{% endif %}
						{% if auth.objects.file.accesslevel >= 10 %}
							{% if not auth.navbar.files.manage.disable or not auth.navbar.files.upload.disable %}
								{% if not auth.navbar.files.explorer.disable %}
									<div class="dropdown-divider"></div>
								{% endif %}
							{% endif %}
							{% if not auth.navbar.files.upload.disable %}
								{% url 'wakemeup:edit_file' fileid='new' as actionurl %}
								{% link_post navcontext=navigation formname="edit_file" actionurl=actionurl displaytype="navbar" urlname=url_name linktext="Subir" %}
							{% endif %}
							{% if not auth.navbar.files.manage.disable %}
								{% url 'wakemeup:edit_file_bulk' as actionurl %}
								{% link_post navcontext=navigation formname="edit_file_bulk" actionurl=actionurl displaytype="navbar" urlname=url_name linktext="Gestionar" %}
							{% endif %}
						{% endif %}
					</div>
				</li>
				{% endif %}
				
				<!-- HOW TO PARTICIPATE -->
				<li class="nav-item dropdown">
					<a class="nav-link" href="{% url 'wakemeup:howtoparticipate' %}">C&oacute;mo participar</a>
				</li>
				
				<!-- ADMIN -->
				{% if not auth.navbar.admin.disable %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'wakemeup:list_object' objecttype='school' %}">Colegios</a>
							<a class="dropdown-item" href="{% url 'wakemeup:list_object' objecttype='class' %}">Cursos</a>
							<a class="dropdown-item" href="{% url 'wakemeup:list_object' objecttype='teacher' %}">Docentes</a>
							<a class="dropdown-item" href="{% url 'wakemeup:list_object' objecttype='reward' %}">Incentivos</a>
							<div class="dropdown-divider"></div>
							
							{% if auth.objects.user.accesslevel >= 10 %}
								<a class="dropdown-item {% if url_name == 'create_user' %} active {% endif %}" href="{% url 'wakemeup:create_user' %}">Crear usuario</a>
							{% endif %}
							
							{% if auth.objects.program.accesslevel >= 10 %}
								<a class="dropdown-item {% if url_name == 'manage_program' %} active {% endif %}" href="{% url 'wakemeup:manage_program' %}">Programas</a>
							{% endif %}
							
							<!-- Permissions -->
							{% if not auth.navbar.admin.permissions.disable and auth.objects.permissions.accesslevel >= 8%}
								{% url 'wakemeup:edit_permissions' as actionurl %}
								{% link_post navcontext=navigation formname="edit_permissions" actionurl=actionurl displaytype="navbar" urlname=url_name linktext="Permisos" %}
							{% endif %}
							
							<!-- Admin tools -->
							{% url 'wakemeup:execute_admintools' as actionurl %}
							{% link_post navcontext=navigation formname="execute_admintools" actionurl=actionurl displaytype="navbar" urlname=url_name linktext="Sincronizar con Google Drive" %}
						</div>
					</li>
				{% endif %}
			{% endif %}
			
			<!-- ABOUT -->
			<li class="nav-item dropdown">
				<a class="nav-link" href="{% url 'wakemeup:about' %}">Acerca de</a>
			</li>
		</ul>
		<ul class="nav navbar-nav">
			{% if user.is_authenticated %}
			
				<!-- REPUTATION -->
				{% if not auth.navbar.reputation.disable %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'wakemeup:myaccount' %}#reputation" id="ReputationValueLink" title="Reputaci&#243;n">
						<h4 style="display:inline;vertical-align:middle">{{ user.reputationvalue }}</h4>
						{% if userinfo.reputationvaluedelta != 0 %}
							<span style="vertical-align:top; background-color:red;color:white" class="badge" id="ReputationValueDelta">
								+{{ userinfo.reputationvaluedelta }}
							</span>
						{% endif %}
					</a>
				</li>
				{% endif %}
				
				<!--  NOTIFICATIONS -->
			{% if not auth.navbar.notifications.disable %}
				<li class="nav-item dropdown" id="NotificationInboxDropdown">
				
					<!-- Notifications - Inbox icon -->
					<a 
						class="btn nav-link float-left" 
						id="NotificationInboxIcon" 
						data-toggle="dropdown" 
						aria-haspopup="true" 
						aria-expanded="false"
						style="color:{% if userinfo.opennotificationsflag %}red{% endif %}" 
						title="Notificaciones"
					>
						<i class="fas fa-inbox faicon"></i>
					</a>

					<!--  Notifications - Drop-down menu -->
					<div 
						class="dropdown-menu scrollable-menu dropdown-menu-right" 
						aria-labelledby="dropdownMenuLink" 
						id="NotificationInboxItems"
					>
					</div>
				</li>
			{% endif %}

				<!-- PROFILE -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" title="{{ user.username }}">
						{% if userinfo.profilepicturefile %}
							<img src="{% static 'img/avatar/'|add:userinfo.profilepicturefile %}" alt="Avatar" height="32px" width="32px" style="display:inline-block">
						{% else %}
	 						<i class="fas fa-user faicon"></i>
						{% endif %}
					</a>	
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="{% url 'wakemeup:myaccount' %}#profile">Mi cuenta</a>
						<a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesi&#243;n</a>
					</div>
				</li>
			{% else %}
			
				<!-- LOGIN -->
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}?next={% firstof request.path '/' %}">Iniciar sesi&#243;n</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% endwith %}