{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Gestionar archivos{% endblock %}

{% block content %}
	<form action="{% url 'wakemeup:edit_file_bulk' %}" method="post">
		<div class="row">
			<div class="col-5">
				<br><legend>Archivos</legend>
				{% include "wakemeup/files/file_list.html" with editflag=True filenamelength=45 showlinks=False %}
			</div>
			<div class="col-7"><br>
				{% crispy form %}
			</div>
		</div>
	</form>
{% endblock %}