{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headimport %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.css"></script>
	
    <script type="text/javascript">
		Dropzone.autoDiscover = false;

		Dropzone.options.mydropzone= { 
		  autoProcessQueue: false,
		  uploadMultiple: true,
		  parallelUploads: 100,
		  maxFiles: 100,

		  init: function() {}
		};

	    $(document).ready(function () {
	        $("#mydropzone").dropzone({
		
			    maxFilesize: 209715200, // 200MB
			    timeout: 1200000,

	            init : function() {
	                var submitButton = document.querySelector("#submit-all")
	                myDropzone = this;

	                submitButton.addEventListener("click", function(e) {
					    e.preventDefault();
					    e.stopPropagation();
	                    myDropzone.processQueue(); // post form
	                });

		            this.on("successmultiple", function (files, response) {
//		                setTimeout(function () {
							window.location.reload() // reload page
//							$('.dropzone').submit()
//		                }, 1000);
		            });
	 
	                // Show submit button only when files added
	                this.on("addedfile", function() {
						submitButton.style.display = "block";
	                });
	            },
	            success: function (file, response) {
	            }
	        });
		})
	</script>
{% endblock %}

{% block title %}Subir archivos{% endblock %}

{% block content %}
	<form action="{% url 'wakemeup:edit_file' fileid=fileid %}"
		  id="mydropzone" class="dropzone"
	      enctype="multipart/form-data" 
	      method="post">
		{% crispy form %}
		<div class="dz-message" data-dz-message><span><i>Arrastrar y soltar los archivos para subir</i></span></div>		
	    <div class="fallback">
	        <input id="file" name="file" type="file" multiple="multiple"/>
	        <input type="submit" value="Upload"/>
	    </div>	
	</form>
	
	<button id="submit-all" style="display:none">Enviar</button>
{% endblock %}