{% if file.displayindent and not icontileflag %}
	{% for x in ""|ljust:file.displayindent %}&nbsp;{% endfor %}
{% endif %}

<img {% if icontileflag %}class="m-1" {% endif %} height="{% if not file.directoryflag %}{{iconsize|default:20}}{% else %}24{% endif %}" src="{{file.fileattributes.gd.iconLink}}"/>&nbsp;

{% if not file.directoryflag and showlinks %}&nbsp;
	{% if file.filetype == "application/vnd.google-apps.document" %}
		<a href="{% url 'wakemeup:get_file' fileid=file.fileid %}?exporttype=pdf">{{file.filename|truncatechars:filenamelength|default:30}}</a>&nbsp;&nbsp;
		<a href="{% url 'wakemeup:get_file' fileid=file.fileid %}?exporttype=docx"><img height="20" src="https://drive-thirdparty.googleusercontent.com/128/type/application/vnd.openxmlformats-officedocument.wordprocessingml.document"/></a>
	{% else %}
		<a href="{% url 'wakemeup:get_file' file.fileid %}{% if file.filetype == "video/mp4" %}?forcedownload=False{% endif %}">{{file.filename|truncatechars:filenamelength|default:30}}</a>
		{% if file.filetype == "video/mp4" %}&nbsp;&nbsp;<a href="{% url 'wakemeup:get_file' fileid=file.fileid %}"><i class="fas fa-file-download fa-lg"></i></a>{% endif %}
	{% endif %}
{% else %}
	{{file.filename|truncatechars:filenamelength|default:30}}
{% endif %}
