{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{filetype}}{% endblock %}

{% block content %}
	<div class="container-fluid"><br>
		<div class="row">
			<div class="col">
				<div align="center"><h2>{{filetype}}{% if schoolyear %} ({{schoolyear}}){% endif %}</h2></div><div style="font-size:6px"><br></div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div align="center" style="white-space:nowrap;overflow:auto">
					{% include "wakemeup/files/file_list.html" with filenamelength=60 showlinks=True iconsize=iconsize icontileflag=icontileflag%}
				</div>
			</div>
		</div>
	</div>
{% endblock %}