{% extends "base.html" %}
{% load static %}

<!-- Set page title -->
{% block title %}Inicio{% endblock %}

{% block headimport %}
	<style>
		.btn-max-width {
		  margin-right: auto;
		  margin-left: auto;
		  max-width: 300px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<br><br>
	    <div class="row btn-max-width">
    		<a href="{% url 'wakemeup:list_file' %}" class="btn btn-primary btn-lg btn-huge btn-block">Archivos</a>
	    </div>
	    <br>
	    <div class="row btn-max-width">
    		<a href="{% url 'wakemeup:get_calendar' %}" class="btn btn-primary btn-lg btn-huge btn-block">Calendario</a>
	    </div>
    </div>
{% endblock %}