{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_table from django_tables2 %}

<!-- Set page title -->
{% block title %}Inicio{% endblock %}

{% block content %}
	<br>
	<div class="container-fluid">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-tabs-sticky">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#profile">Perfil</a>
		  </li>
			{% if not auth.myaccount.reputation.disable %}
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#reputation">Reputaci&#243;n</a>
			  </li>
			{% endif %}
			{% if not auth.myaccount.badges.disable %}
			  <li class="nav-item" {% if auth.myaccount.badges.disable %}style="display:none"{% endif %}
			    <a class="nav-link" data-toggle="tab" href="#badges">Medallas</a>
			  </li>
			{% endif %}
			{% if not auth.myaccount.tools.disable %}
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="tab" href="#tools">Herramientas</a>
			  </li>
			{% endif %}
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		<br>
		  <div class="tab-pane active" id="profile">
			<form method="POST" enctype="multipart/form-data" novalidate>
			    {% csrf_token %}
				{% crispy form %}
			</form>
		  </div>
			{% if not auth.myaccount.reputation.disable %}
		  <div class="tab-pane fade" id="reputation">
			{% render_table reputationevents %}
		  </div>
			{% endif %}
			{% if not auth.myaccount.badges.disable %}
		  <div class="tab-pane fade" id="badges">
			{% render_table badges %}
		  </div>
			{% endif %}
			{% if not auth.myaccount.tools.disable %}
		  <div class="tab-pane fade" id="tools">
			<a href="{% url 'password_reset' %}">Restablecer contrase&#241;a</a>
		  </div>
			{% endif %}
		</div>
    </div>
{% endblock %}

{% block bodyimport %}

	<!-- Javascript to maintain tab positioning -->
	<script src="{% static 'js/jquery.stickytabs.js' %}"></script>
	
	<script>
		$(document).ready(function() {
			$('.nav-tabs-sticky').stickyTabs();
		});
	</script>
{% endblock %}